cloud/WindowsAzure2/UnitTestProject/Service References/CropServiceReference/CropService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Crop">
    <xs:sequence>
      <xs:element minOccurs="0" name="CropType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FertilizingTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FieldFK" type="xs:int" />
      <xs:element minOccurs="0" name="HarvestTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HillingTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IllnessFK" type="xs:int" />
      <xs:element minOccurs="0" name="JournalFK" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WateringFrequency" type="xs:int" />
      <xs:element minOccurs="0" name="WateringPeriod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="timeOfPlanting" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Crop" nillable="true" type="tns:Crop" />
</xs:schema>