cloud/WindowsAzure2/UnitTestProject/Service References/CropServiceReference/CropService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CropService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:21882/CropService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:21882/CropService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:21882/CropService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICropService_InsertCropData_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCropData" />
  </wsdl:message>
  <wsdl:message name="ICropService_InsertCropData_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCropDataResponse" />
  </wsdl:message>
  <wsdl:message name="ICropService_DeleteCropData_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCropData" />
  </wsdl:message>
  <wsdl:message name="ICropService_DeleteCropData_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCropDataResponse" />
  </wsdl:message>
  <wsdl:message name="ICropService_SelectCropById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectCropById" />
  </wsdl:message>
  <wsdl:message name="ICropService_SelectCropById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectCropByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICropService_SelectCrops_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectCrops" />
  </wsdl:message>
  <wsdl:message name="ICropService_SelectCrops_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectCropsResponse" />
  </wsdl:message>
  <wsdl:portType name="ICropService">
    <wsdl:operation name="InsertCropData">
      <wsdl:input wsaw:Action="http://tempuri.org/ICropService/InsertCropData" message="tns:ICropService_InsertCropData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICropService/InsertCropDataResponse" message="tns:ICropService_InsertCropData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCropData">
      <wsdl:input wsaw:Action="http://tempuri.org/ICropService/DeleteCropData" message="tns:ICropService_DeleteCropData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICropService/DeleteCropDataResponse" message="tns:ICropService_DeleteCropData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectCropById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICropService/SelectCropById" message="tns:ICropService_SelectCropById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICropService/SelectCropByIdResponse" message="tns:ICropService_SelectCropById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectCrops">
      <wsdl:input wsaw:Action="http://tempuri.org/ICropService/SelectCrops" message="tns:ICropService_SelectCrops_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICropService/SelectCropsResponse" message="tns:ICropService_SelectCrops_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICropService" type="tns:ICropService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertCropData">
      <soap:operation soapAction="http://tempuri.org/ICropService/InsertCropData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCropData">
      <soap:operation soapAction="http://tempuri.org/ICropService/DeleteCropData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCropById">
      <soap:operation soapAction="http://tempuri.org/ICropService/SelectCropById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCrops">
      <soap:operation soapAction="http://tempuri.org/ICropService/SelectCrops" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CropService">
    <wsdl:port name="BasicHttpBinding_ICropService" binding="tns:BasicHttpBinding_ICropService">
      <soap:address location="http://localhost:21882/CropService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>