mobile/CropMngPhoneApp/CropMngPhoneApp/Service References/MapFieldServiceReference/MapFieldService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MapFieldService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:81/MapFieldService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:81/MapFieldService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:81/MapFieldService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" />
      <xsd:import schemaLocation="http://127.0.0.1:81/MapFieldService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMapFieldService_InsertMapField_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertMapField" />
  </wsdl:message>
  <wsdl:message name="IMapFieldService_InsertMapField_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertMapFieldResponse" />
  </wsdl:message>
  <wsdl:message name="IMapFieldService_DeleteMapField_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMapField" />
  </wsdl:message>
  <wsdl:message name="IMapFieldService_DeleteMapField_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMapFieldResponse" />
  </wsdl:message>
  <wsdl:message name="IMapFieldService_SelectMapRecordsByFieldId_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectMapRecordsByFieldId" />
  </wsdl:message>
  <wsdl:message name="IMapFieldService_SelectMapRecordsByFieldId_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectMapRecordsByFieldIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IMapFieldService">
    <wsdl:operation name="InsertMapField">
      <wsdl:input wsaw:Action="http://tempuri.org/IMapFieldService/InsertMapField" message="tns:IMapFieldService_InsertMapField_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMapFieldService/InsertMapFieldResponse" message="tns:IMapFieldService_InsertMapField_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMapField">
      <wsdl:input wsaw:Action="http://tempuri.org/IMapFieldService/DeleteMapField" message="tns:IMapFieldService_DeleteMapField_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMapFieldService/DeleteMapFieldResponse" message="tns:IMapFieldService_DeleteMapField_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectMapRecordsByFieldId">
      <wsdl:input wsaw:Action="http://tempuri.org/IMapFieldService/SelectMapRecordsByFieldId" message="tns:IMapFieldService_SelectMapRecordsByFieldId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMapFieldService/SelectMapRecordsByFieldIdResponse" message="tns:IMapFieldService_SelectMapRecordsByFieldId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMapFieldService" type="tns:IMapFieldService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertMapField">
      <soap:operation soapAction="http://tempuri.org/IMapFieldService/InsertMapField" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMapField">
      <soap:operation soapAction="http://tempuri.org/IMapFieldService/DeleteMapField" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectMapRecordsByFieldId">
      <soap:operation soapAction="http://tempuri.org/IMapFieldService/SelectMapRecordsByFieldId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MapFieldService">
    <wsdl:port name="BasicHttpBinding_IMapFieldService" binding="tns:BasicHttpBinding_IMapFieldService">
      <soap:address location="http://127.0.0.1:81/MapFieldService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>