mobile/PhoneApp1/PhoneApp1/Service References/TimePeriodsServiceReference/TimePeriodsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:81/TimePeriodsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" />
  <xs:element name="SelectAllTimePeriods">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllTimePeriodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="SelectAllTimePeriodsResult" nillable="true" type="q1:ArrayOfTimePeriod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>