mobile/PhoneApp1/PhoneApp1/Service References/TimePeriodsServiceReference/TimePeriodsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTimePeriod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimePeriod" nillable="true" type="tns:TimePeriod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimePeriod" nillable="true" type="tns:ArrayOfTimePeriod" />
  <xs:complexType name="TimePeriod">
    <xs:sequence>
      <xs:element minOccurs="0" name="timeperiodid" type="xs:int" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimePeriod" nillable="true" type="tns:TimePeriod" />
</xs:schema>