mobile/PhoneApp1/PhoneApp1/Service References/MapFieldServiceReference/MapFieldService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1/MapFieldService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" />
  <xs:import schemaLocation="http://127.0.0.1/MapFieldService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="InsertMapField">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="mapField" nillable="true" type="q1:MapField" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMapFieldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertMapFieldResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMapField">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="field_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMapFieldResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectMapRecordsByFieldId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="field_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectMapRecordsByFieldIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SelectMapRecordsByFieldIdResult" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>