mobile/PhoneApp1/PhoneApp1/Service References/MapFieldServiceReference/MapFieldService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MapField">
    <xs:sequence>
      <xs:element minOccurs="0" name="FieldId" type="xs:int" />
      <xs:element minOccurs="0" name="MapFieldId" type="xs:int" />
      <xs:element minOccurs="0" name="MapId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MapField" nillable="true" type="tns:MapField" />
</xs:schema>