mobile/CropMngPhoneApp/CropMngPhoneApp/Service References/IllnessServiceReference/IllnessService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Illness">
    <xs:sequence>
      <xs:element minOccurs="0" name="cropid" type="xs:int" />
      <xs:element minOccurs="0" name="datefrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dateto" type="xs:dateTime" />
      <xs:element minOccurs="0" name="diagnose" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="illnessid" type="xs:int" />
      <xs:element minOccurs="0" name="illnessimage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="journalid" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="percentageinfected" type="xs:double" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Illness" nillable="true" type="tns:Illness" />
  <xs:complexType name="ArrayOfIllness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Illness" nillable="true" type="tns:Illness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIllness" nillable="true" type="tns:ArrayOfIllness" />
</xs:schema>