mobile/CropMngPhoneApp/CropMngPhoneApp/Service References/JournalServiceReference/JournalService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:81/JournalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" />
  <xs:element name="InsertJournal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="journal" nillable="true" type="q1:Journal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertJournalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertJournalResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectJournalByCropId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="crop_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectJournalByCropIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="SelectJournalByCropIdResult" nillable="true" type="q2:Journal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>