mobile/PhoneApp1/PhoneApp1/Service References/FieldServiceReference/FieldService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1/FieldService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" />
  <xs:element name="InsertField">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="field" nillable="true" type="q1:Field" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFieldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertFieldResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteField">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="field_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFieldResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFieldById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="field_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFieldByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="SelectFieldByIdResult" nillable="true" type="q2:Field" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFields">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="SelectFieldsResult" nillable="true" type="q3:ArrayOfField" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>