mobile/PhoneApp1/PhoneApp1/Service References/FieldServiceReference/FieldService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FieldService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1/FieldService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1/FieldService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1/FieldService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFieldService_InsertField_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertField" />
  </wsdl:message>
  <wsdl:message name="IFieldService_InsertField_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertFieldResponse" />
  </wsdl:message>
  <wsdl:message name="IFieldService_DeleteField_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteField" />
  </wsdl:message>
  <wsdl:message name="IFieldService_DeleteField_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFieldResponse" />
  </wsdl:message>
  <wsdl:message name="IFieldService_SelectFieldById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectFieldById" />
  </wsdl:message>
  <wsdl:message name="IFieldService_SelectFieldById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectFieldByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IFieldService_SelectFields_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectFields" />
  </wsdl:message>
  <wsdl:message name="IFieldService_SelectFields_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectFieldsResponse" />
  </wsdl:message>
  <wsdl:portType name="IFieldService">
    <wsdl:operation name="InsertField">
      <wsdl:input wsaw:Action="http://tempuri.org/IFieldService/InsertField" message="tns:IFieldService_InsertField_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFieldService/InsertFieldResponse" message="tns:IFieldService_InsertField_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteField">
      <wsdl:input wsaw:Action="http://tempuri.org/IFieldService/DeleteField" message="tns:IFieldService_DeleteField_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFieldService/DeleteFieldResponse" message="tns:IFieldService_DeleteField_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectFieldById">
      <wsdl:input wsaw:Action="http://tempuri.org/IFieldService/SelectFieldById" message="tns:IFieldService_SelectFieldById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFieldService/SelectFieldByIdResponse" message="tns:IFieldService_SelectFieldById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectFields">
      <wsdl:input wsaw:Action="http://tempuri.org/IFieldService/SelectFields" message="tns:IFieldService_SelectFields_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFieldService/SelectFieldsResponse" message="tns:IFieldService_SelectFields_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFieldService" type="tns:IFieldService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertField">
      <soap:operation soapAction="http://tempuri.org/IFieldService/InsertField" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteField">
      <soap:operation soapAction="http://tempuri.org/IFieldService/DeleteField" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectFieldById">
      <soap:operation soapAction="http://tempuri.org/IFieldService/SelectFieldById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectFields">
      <soap:operation soapAction="http://tempuri.org/IFieldService/SelectFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FieldService">
    <wsdl:port name="BasicHttpBinding_IFieldService" binding="tns:BasicHttpBinding_IFieldService">
      <soap:address location="http://127.0.0.1/FieldService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>