mobile/CropMngPhoneApp/CropMngPhoneApp/Service References/CropServiceReference/CropService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:81/CropService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" />
  <xs:element name="InsertCropData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="crop" nillable="true" type="q1:Crop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCropDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCropDataResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCropData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="crop_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCropDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCropById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="crop_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCropByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="SelectCropByIdResult" nillable="true" type="q2:Crop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCrops">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCropsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="SelectCropsResult" nillable="true" type="q3:ArrayOfCrop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>