mobile/PhoneApp1/PhoneApp1/Service References/JournalServiceReference/JournalService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Journal">
    <xs:sequence>
      <xs:element minOccurs="0" name="cropid" type="xs:int" />
      <xs:element minOccurs="0" name="dateentered" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="journalid" type="xs:int" />
      <xs:element minOccurs="0" name="journalimage" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Journal" nillable="true" type="tns:Journal" />
  <xs:complexType name="ArrayOfJournal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Journal" nillable="true" type="tns:Journal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJournal" nillable="true" type="tns:ArrayOfJournal" />
</xs:schema>