mobile/PhoneApp1/PhoneApp1/Service References/MeasureServiceReference/FieldMeasureService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMeasure">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Measure" nillable="true" type="tns:Measure" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMeasure" nillable="true" type="tns:ArrayOfMeasure" />
  <xs:complexType name="Measure">
    <xs:sequence>
      <xs:element minOccurs="0" name="measureid" type="xs:int" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Measure" nillable="true" type="tns:Measure" />
</xs:schema>