mobile/PhoneApp1/PhoneApp1/Service References/CropServiceReference/CropService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Crop">
    <xs:sequence>
      <xs:element minOccurs="0" name="cropid" type="xs:int" />
      <xs:element minOccurs="0" name="croptype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fertilizingtime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fieldcoverage" type="xs:double" />
      <xs:element minOccurs="0" name="fieldfk" type="xs:int" />
      <xs:element minOccurs="0" name="harvesttime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="hillingtime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="illnessfk" type="xs:int" />
      <xs:element minOccurs="0" name="journalfk" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="timeofplanting" type="xs:dateTime" />
      <xs:element minOccurs="0" name="wateringfrequency" type="xs:int" />
      <xs:element minOccurs="0" name="wateringperiod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Crop" nillable="true" type="tns:Crop" />
  <xs:complexType name="ArrayOfCrop">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Crop" nillable="true" type="tns:Crop" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCrop" nillable="true" type="tns:ArrayOfCrop" />
</xs:schema>