mobile/CropMngPhoneApp/CropMngPhoneApp/Service References/MapServiceReference/MapService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Map">
    <xs:sequence>
      <xs:element minOccurs="0" name="field_fk" type="xs:int" />
      <xs:element minOccurs="0" name="latitude" type="xs:double" />
      <xs:element minOccurs="0" name="longitude" type="xs:double" />
      <xs:element minOccurs="0" name="mapid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Map" nillable="true" type="tns:Map" />
  <xs:complexType name="ArrayOfMap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Map" nillable="true" type="tns:Map" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMap" nillable="true" type="tns:ArrayOfMap" />
</xs:schema>