mobile/CropMngPhoneApp/CropMngPhoneApp/Service References/FieldServiceReference/FieldService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Field">
    <xs:sequence>
      <xs:element minOccurs="0" name="altitude" type="xs:double" />
      <xs:element minOccurs="0" name="areasize" type="xs:double" />
      <xs:element minOccurs="0" name="areasizemeasure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cropid" type="xs:int" />
      <xs:element minOccurs="0" name="field_id" type="xs:int" />
      <xs:element minOccurs="0" name="mapid" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Field" nillable="true" type="tns:Field" />
  <xs:complexType name="ArrayOfField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Field" nillable="true" type="tns:Field" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfField" nillable="true" type="tns:ArrayOfField" />
</xs:schema>